	#mainPage{
		margin-left: 250px;
		margin-top:50px;
	}
	#sideBarMenu{
	height: 100%;
  	width: 200px;
 	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #114;
  	overflow-x: hidden;
  	padding-top: 20px;
	}
	#topBarMenu{
	height: 200px;
  	width: 100%;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #114;
  	overflow-x: hidden;
  	padding-top: 20px;
  	padding-bottom: 50px;
	}
	#modal{
    	position: fixed;
    	top: 0;
    	left: 0;
    	z-index: 1050;
    	display: none;
    	width: 400px;
    	height: 300px;
    	overflow: hidden;
    	outline: 0;
    	background: aqua;
    	box-shadow: 0px 0px 10px 4px;
    	margin: 0 auto;
    	margin-top: 12%;
    	border-radius: 5px;
	}

	#login{
		margin:0 auto;
		display:block;
		margin-top: 20%;
	}
	#home{
		margin:200px ;
		display:block;
		margin-top: 5%;
		width: 10%;
	}